* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/MarraUniversity/media/pexels-anna-tarazevich-5481255.jpg);
    background-size: 100%;
    background-color: #264040;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*
    background-color: #8FBC8F;
    opacity: 0.2; */
    margin: 0;
    padding: 20px 27px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

#logoAndBrendName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 1rem;
    background-color: #e9e7ea;
}

#brendNomi {
    font-family: 'Limelight', 'cursive';
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    position: relative;
    font-weight: bolder;
    background-color: #e9e7ea;
}

.fa-brands {
    color: #2F4F4F;
}


main {
    display: none;
    width: 768px;
    margin: 12rem auto;
    text-align: justify;
}