* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/MarraUniversity/media/pexels-anna-tarazevich-5481255.jpg); 
    background-size: 100%;
    background-color: #264040;
    color: #2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*
    background-color: #8FBC8F;
    opacity: 0.2; */
    margin: 0;
    padding: 20px 27px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

#logoAndBrendName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 1rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

#brendNomi {
    font-family: 'Limelight', 'cursive';
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.loginPopUp {
    border: 2px solid #2F4F4F;
}


#links a {
    width: 17%;
    text-decoration: none;
    color: #2F4F4F;
    padding: 1rem;
}

#links a:hover {
    background-color: #2F4F4F;
    color: #cccccc;
}

.fa-brands, .fa-solid {
    display: block;
    font-size: 2rem;
}

.wrapper {
    color: #fff;
    position: relative;
    width: 512px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box h2 {
    text-align: center;
}

main {
    display: none;
    width: 768px;
    margin: 12rem auto;
    text-align: justify;
}